.idea/
.vscode/
api/
esm2022/
fesm2022/
node_modules
npm
RELEASE.md
src/

ondewo-proto-compiler

ondewo-t2s-api
ondewo-t2s-client-angular.d.ts
ondewo-t2s-client-angular.d.ts.map
ondewo-t2s-client-angular.metadata.json
